.outside-click-div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: rgba(136, 136, 136, 0.459);
}

.add-client-form-container {
    width: 50vw;
    height: 85vh;
    background-color: whitesmoke;
    position: absolute;
    margin: auto;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 20px;
    z-index: 999;
    padding: 20px;

    .aclf-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background-color: $polar-blue-lite;
        border-radius: 15px 15px 0px 0px;
        padding: 0 20px 0 20px;
        margin: -20px -20px 0 -20px;

        .aclf-close-container {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            transition: all ease-in-out .2s;

            .aclf-close {
                padding: 5px;
            }
        }

        .aclf-close-container:hover {
            transition: all ease-in-out .2s;
            background-color: rgba(78, 78, 78, 0.356);
        }

        .aclf-name {
            background-color: transparent;
            border: solid gray;
            border-width: 0 0 2px 0;
            font-size: 20px;
            line-height: 25px;
            background-image: url('../images/pencil-svgrepo-com.svg');
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: 10% 50%;
        }

        .aclf-name:focus {
            border-width: 0 0 3px 0;
            outline: none;
        }

        .aclf-name::selection { background-color: $polar-blue; }
    }
            
    .aclf-input, .acof-input {
            background-color: transparent;
            border: solid gray;
            border-width: 0 0 1px 0;
            height: auto;
            width: 100%;
            font-size: 16px;
            line-height: 25px;
            padding: 0;
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: 10% 50%;
            margin-top: 30px;
            font-family: 'Quicksand', sans-serif;
            color: #333;
            transition: box-shadow ease-in-out .2s;
        }

    .aclf-input:focus, .aclf-input:hover, .acof-input:focus, .acof-input:hover {
        transition: box-shadow ease-in-out .2s;
        box-shadow: rgba(52, 154, 255, 0.2) 0px 4px 4px -2px;
        outline: none;
    }

    .aclf-input:focus, .acof-input { border-bottom-width:2px; }

    .aclf-submit, .acof-btn, .acof-submit {
        font-family: 'Quicksand', sans-serif;
        background-color: $polar-blue-lite;
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        border: none;
        border-radius: 8px;
        box-shadow: rgba(28, 82, 136, 0.2) -1px 4px 2px;
        transition: all ease-in-out .2s;
    }

    .aclf-submit, .aclf-add-contact-form-container, .aclf-input, .acof-input, .acof-submit { margin-top: 30px; }

    .aclf-submit:hover, .acof-btn:hover, .acof-submit:hover {
        transition: all ease-in-out .2s;
        cursor: pointer;
        background-color: $polar-blue;
    }

    .aclf-submit:active {
        margin-top: 32px;
    }

    .aclf-submit:active, .acof-btn:active {
        transition: all ease-in-out .1s;
        background-color: $polar-blue;
        box-shadow: rgba(28, 82, 136, 0.2) 0px 2px;
    }

    .aclf-add-contact-form-container {
        

        .acof-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;
        }

        .add-contact-form {
            display: flex;
            flex-direction: column;
            margin-top: -27px;
            max-width: 100%;
            background-color: #fff;
            box-shadow: rgba(28, 82, 136, 0.2) -1px 4px 2px;
            border-radius: 8px;
            position: relative;
            z-index: 1;
            height: 400px;
            padding: 10px;
        }

        .acof-closed {
            transition: all ease-in-out .2s;
            height: 0px;

            .acof-input, .acof-submit {
                opacity: 0%;
                height: 0px;
                transition: all ease-in-out .2s;
            }
        }

        .acof-open {
            transition: all ease-in-out .2s;

            .acof-input, .acof-submit {
                transition: all ease-in-out .2s;
                opacity: 100%;
                height: 7%;
            }
        }

        .acof-btn-closed {
            box-shadow: rgba(28, 82, 136, 0.2) -1px 4px 2px;
        }

        .acof-btn-open {
            box-shadow: none;
        }

        .acof-icon {
            transition: all ease-in-out .2s;
        }

        .fa-plus-circle {
            transform: rotate(180deg);
        }

        .fa-chevron-up {
            transform: rotate(0deg);
        }
    }
}