.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    tfoot {
        position: relative;

        .add-client-btn {
            position: absolute;
            cursor: pointer;
            width: 100%;
            margin-left: -15.45px;

        }
    }
}