nav {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100vw;
    height: 50px;
    background-color: #b2dee070;

    .nav-tabs-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding-left: 10px;
        border-bottom: 2px solid rgb(163, 163, 163);
    }
    .nav-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70px;
        height: 25px;
        margin-left: 5px;
        border-radius: 6px 6px 0px 0px;
        background-color: rgb(209, 209, 209);
        border: 1px solid rgb(209, 209, 209);
        font-size: 14px;
        cursor: pointer;

        h4 {
            font-weight: normal;
            padding: 0px 5px 0px 5px;
        }
    }

    .selected-tab {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        color: black;
        padding-top: 4px;
        border: solid rgb(163, 163, 163);
        border-width: 2px 2px 0px 2px;
        font-size: 16px;

    }

    .selected-tab::after {
        content: "";
        bottom: -3px;
        width: 100%;
        position: relative;
        z-index: 999;
        background-color: whitesmoke;
        height: 10px;
    }
}