@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

table {
    width: 80vw;
    height: 70vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 20px;
    border-radius: 15px;
    border-collapse: collapse;
    margin: 25px 0;
    overflow: hidden;
    thead {
        height: 70px;
        background-color: #B2DEE0;
        text-align: left;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr:nth-of-type(even) {
        background-color: #dbdbdb3f;
    }
    
}