
table {
    width: 80vw;
    height: 70vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 20px;
    border-radius: 15px;
    border-collapse: collapse;
    margin: 25px 0;
    overflow: hidden;
    thead {
        height: 70px;
        background-color: $polar-blue;
        text-align: left;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr:nth-of-type(even) {
        background-color: #dbdbdb3f;
    }

    tfoot {
        position: relative;
        height: 40px;
        border-radius: 15px;

        .add-client-btn {
            position: absolute;
            height: 100%;
            width: 80vw;
            top: 0px;
            margin-left: -15.45px;
            border: none;
            cursor: pointer;
            transition: all ease-in-out .3s;
            
        }
        .add-client-btn:hover {
            background-color: whitesmoke;
            box-shadow: rgba(175, 175, 175, 0.2) 0px 4px 20px;
            transition: all ease-in-out .3s;
        }
    }
    
}